* {
    transition: all 0.2 ease-in-out ;
}

body {
    background-color: rgb(226, 224, 221);
    font-family: monospace;
    /* height: 1000px; */
    margin: 0;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(226, 224, 221);
    color: rgb(14, 12, 12);
}

header img {
    width: 100px;
    right: 0;
    position: fixed;
}

#esquerda {
    width: 100px;
    left: 0;
    position: fixed;
}

#container {
    background-color: #22577a;
    height: fit-content;
    color: white;
    border-radius: 10px;
    margin-right: 6%;
    margin-left: 6%;
}

fieldset {
    height: 680px;
    padding: 50px;
    border: none;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0px;
    text-decoration: lightblue 5px solid;
}

p {
    font-size: 24px;
}

input {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    border: white 5px solid ;
}

input:hover {
    border: 1px solid rgb(0, 0, 0);
    /* transform: scale(1.6);  */
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.6); */
    padding: 10px 20px;
}

select {
    padding: 10px;
}

select:hover {
    border: 1px solid rgb(0, 0, 0);
    transform: scale(1.6); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

#checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    background-color: rgb(226, 224, 221);
    align-items: center;
    justify-content: center;
}

footer h3 {
    position: relative;
    top: 50%;
    bottom: 50%;
}

footer img {
    width: 100px;
    padding: 20px;
}

footer img:hover {
    transform: scale(1.2); 
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.6); */
}

#ulbra {
    width:300px;
}

#sindi {
    width:100px;
}

#confra {
    width: 200px;
}

#reset {
    background-color: yellow;
    border: yellow;
    cursor: pointer;
    padding: 10px;
    width: 10%;
}

#submit {
    background-color: greenyellow;
    border: greenyellow;
    cursor: pointer;
    padding: 10px;
    width: 10%;
}


    
